.yearbox {
	min-height: 350px;
}

.weekbox {
	min-height: 350px;
}

.checkbox-inline + .checkbox-inline, .checkbox-inline  {
    margin-right: 10px;
    margin-left: 0;
    width: 120px;
    position: relative;
}

.circle {
	height: 10px;
	width: 10px;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 5px;
}


.hardrock .circle {
	background-color: orange;
}

.rock .circle {
	background-color: #000000;
}

.pop .circle {
	background-color: #FFC0CB;
}

.house .circle {
	background-color: #800080;
}

.hiphoprap .circle {
	background-color: #663300;
}

.blues .circle {
	background-color: #00007f;
}

.singer .circle {
	background-color: #ffff00;
}

.electronic .circle {
	background-color: #008000;
}

.country .circle {
	background-color: #e59400;
}

.jazz .circle {
	background-color: #ff0000;
}

.techno .circle {
	background-color: #336600;
}

.other .circle {
	background-color: #339966;
}

select {
  font-size: 30px !important
}