<span id="cal-slide-tick" style="display: none"></span>
<div id="cal-slide-content" class="cal-event-list">
	<ul class="unstyled list-unstyled">
		<% _.each(events, function(event) { %>
			<%  event.date_start = new Date(parseInt(event.start)); hour = event.date_start.getHours(); min = event.date_start.getMinutes();console.log("what"); %>
			<li>
				<span class="pull-left event <%= event['class'] %>"></span>&nbsp;
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>"
					data-event-class="<%= event['class'] %>" class="event-item">
					<%= event.title %> starting at <%= hour %>:<%= min %>.</a> 
			</li>
		<% }) %>
	</ul>
</div>
