<%  event.date_start = new Date(parseInt(event.start));
	event.date_end = new Date(parseInt(event.end));
    genrelow = event.class.substring(6);
    genrecap = genrelow.charAt(0).toUpperCase() + genrelow.slice(1) %>
<div id = "event-meta">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-bordered">
                <tbody>
                    <tr>
                        <td class="col-xs-2">
                            <b>Bandname:</b>
                        </td>
                        <td class="col-xs-10">
                            <%= event.bandname %>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Location:</b> 
                        </td>
                        <td class="col-xs-10">
                            <%= event.location %>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Starts:</b> 
                        </td>
                        <td class="col-xs-10">
                            <%= event.date_start.getDate() %> <%= calendar.locale["m" + event.date_start.getMonth()] %> <%= event.date_start.getFullYear() %>, at <%= event.date_start.getHours() %>:<%= event.date_start.getMinutes() %> <i class = "icon-time"></i>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Genre:</b> 
                        </td>
                        <td class="col-xs-10">
                            <%= genrecap %>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Price:</b> 
                        </td>
                        <td class="col-xs-10">
                            <%= event.price %> SEK
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="col-xs-12">
                            <b>Description:</b>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="col-xs-12">
                            <%= event.description %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<div style = "margin: 10px 0">
<form action="deleteevent.php" method="post">
	<input type="hidden" value="<%= event.id %>" name="delbut">
    <input type="submit" class="btn btn-primary pull-right"  value="Delete Event"></form>
</div>
