<%  event.date_start = new Date(parseInt(event.start));
	event.date_end = new Date(parseInt(event.end)); %>
<div id = "event-meta">
    <span>Starts on <%= event.date_start.getDate() %> <%= calendar.locale["m" + event.date_start.getMonth()] %> <%= event.date_start.getFullYear() %>, at <%= event.date_start.getHours() %>:<%= event.date_start.getMinutes() %> <i class = "icon-time"></i></span><br />
    <span>Ends on <%= event.date_end.getDate() %> <%= calendar.locale["m" + event.date_end.getMonth()] %> <%= event.date_end.getFullYear() %> at <%= event.date_end.getHours() %>:<%= event.date_end.getMinutes() %> <i class = "icon-time"></i></span><br />
    <span>Location <%= event.location %></span><br />
    <span>Bandname <%= event.bandname %></span><br />
    <span>Price <%= event.price %></span><br />
    <span>Description <%= event.description %></span><br />
    <!--<span><img src=img/spot.png></span><br />-->
</div>

<div style = "margin: 10px 0">
<form action="deleteevent.php" method="post">
	<input type="hidden" value="<%= event.id %>" name="delbut">
    <input type="submit" class="btn btn-primary"  value="Delete"></form>
</div>
