<%  event.date_start = new Date(parseInt(event.start));
	event.date_end = new Date(parseInt(event.end));
    genrelow = event.class.substring(6);
    genrecap = genrelow.charAt(0).toUpperCase() + genrelow.slice(1) %>
<div class="modal-header">
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="event-modal-title"><%= event.title %></h3>
</div><br>
<div id = "event-meta">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-bordered" style="table-layout: fixed;">
                <tbody>
                    <tr>
                        <td class="col-xs-2">
                            <b>Bandname:</b>
                        </td>
                        <td class="col-xs-10">
                            <%= event.bandname %>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Location:</b> 
                        </td>
                        <td class="col-xs-10">
                            <%= event.location %>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Starts:</b> 
                        </td>
                        <td class="col-xs-10">
                            <%= event.date_start.getDate() %> <%= calendar.locale["m" + event.date_start.getMonth()] %> <%= event.date_start.getFullYear() %>, at <%= ('0'+event.date_start.getHours()).slice(-2) %>:<%= ('0'+event.date_start.getMinutes()).slice(-2) %>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Genre:</b> 
                        </td>
                        <td class="col-xs-10">
                            <%= genrecap %>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Price:</b> 
                        </td>
                        <td class="col-xs-10">
                            <%= event.price %> SEK
                        </td>
                    </tr>
                    <tr>
                        <td class="col-xs-2">
                            <b>Website:</b> 
                        </td>
                        <td class="col-xs-10">
                            <a href="<%= event.url %>"><%= event.url %></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="col-xs-12">
                            <b>Description:</b><br>
                            <span><p><%= event.description %></p></span>
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="2" class="col-xs-12" style="word-wrap: break-word;">
                            <span><p><%= event.description %></p></span>
                        </td>
                    </tr>-->
                </tbody>
            </table>
        </div>
    </div>
    <div class="fb-like" data-href="" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
</div>
</div>

<div style = "margin: 10px 0">


</div>
<div class="modal-footer">
    <form action="deleteevent.php" method="post">
        <input type="hidden" value="<%= event.id %>" name="delbut">
        <input type="submit" class="btn btn-primary pull-left"  value="Delete Event"></form>
        <Button class="btn btn-primary pull-left">Update Event</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
